/* Layout
================================ */
* {
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-mozilla-box-sizing: border-box;
}
.name_title {
	font-family: 'Gochi Hand', cursive;
	font-size: 200% !important;
	color: white !important;
}
.cursive {
	font-family: 'Gochi Hand', cursive;
	font-size: 200% !important;
}

/* Jumbotron
================================ */
.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.intro {
	background:url("../img/portland-1900.jpg") !important;
	background-position: center bottom !important;
	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	height: 500px !important;
  	margin-top: 20px;
  	color: white !important;
	}

.intro h1 {
	text-align: center;
	margin-top: 150px;
}
.port-title {
	padding-top: 20px;
	text-align: center;
}
/*========= Carousel ========*/
.carousel,
#caraousel {
	background-color: #484848;
	height: 550px !important;
	margin-bottom: 10px;
}

.title {
	text-align: center;
}

.item h2,
.item img, 
.item h3 {
	color: #fff;
	margin-left: auto !important;
	margin-right: auto !important;
	padding: 10px;
}

.item img {
	height: 45%;
	width: 45%;
}
#hotcode {
	height: 30%;
	width: 30%;
}
#shopping {
	height: 20% important;
	width: 30%;
}
.item h3 {
	font-size: 120%;
	width: 80%;
}

.carousel-indicators {
	padding-top: 50px;
}

/*=================================*/
.content-footer {
	color: #000000 !important;
	padding-top: 50px;
	text-align: center;
	font-size: 150%;
	font-family: 'Gochi Hand', cursive;
}
.social li {
	display: inline-block;
	font-family: 'Source Serif Pro', serif;
	font-size:20px;
	padding-right:30px;
}
.source {
	font-size: 20px;
}
.content-footer ul > li  {
	list-style: none;
}