/* Layout
================================ */
.container {
	max-width: 1100px;
}
.name_title {
	font-family: 'Gochi Hand', cursive;
	font-size: 200% !important;
	color: white !important;
}
.cursive {
	font-family: 'Gochi Hand', cursive;
	font-size: 200% !important;
}

/* Jumbotron
================================ */
.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.intro {
	background:url("../img/portland-1900.jpg") !important;
	background-position: center bottom !important;
	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	height: 500px !important;
  	margin-top: 20px;
  	color: white !important;
	}

.intro h1 {
	text-align: center;
	margin-top: 150px;
}
.navbar {
	margin-bottom: 50px;
}

.fresh {
	border: 2px black solid;
	margin-right: auto;
	margin-left: auto;
}
.times {
font-size: 180%;
}

.shopping img {
	height: 70% !important;
}
.port-title {
	margin: 50px 0px;
	text-align: center;
}
.row {
	padding-bottom: 20px;
}

.content-footer {
	margin-top: 30px;
	text-align: center;
	font-size: 150%;
	font-family: 'Gochi Hand', cursive;
}
.social li {
	display: inline-block;
	font-family: 'Source Serif Pro', serif;
	font-size:20px;
	padding-right:30px;
}
.source {
	font-size: 20px;
}

footer ul>li  {
	list-style: none;
}