/* Layout
================================ */
.container {
	max-width: 1100px;
}
.name_title {
	font-family: 'Gochi Hand', cursive;
	font-size: 200% !important;
	color: white !important;
}
.cursive {
	font-family: 'Gochi Hand', cursive;
	font-size: 200% !important;
}

/* Jumbotron
================================ */
.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

.intro {
	background:url("../img/portland-1900.jpg") !important;
	background-position: center bottom !important;
	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	height: 500px !important;
  	margin-top: 20px;
  	color: white !important;
	}

.intro h1 {
	text-align: center;
	margin-top: 150px;
}
.navbar {
	margin-bottom: 50px;
}

.fresh {
	border: 2px black solid;
	margin-right: auto;
	margin-left: auto;
}
.times {
font-size: 180%;
}

.port-title {
	margin: 50px 0px;
	text-align: center;
}
.row {
	padding-bottom: 20px;
}

.content-footer {
	margin-top: 30px;
	text-align: center;
	font-size: 150%;
	font-family: 'Gochi Hand', cursive;
}
.social li {
	display: inline-block;
	font-family: 'Source Serif Pro', serif;
	font-size:20px;
	padding-right:30px;
}
.source {
	font-size: 20px;
}


/*
body {
	text-shadow: 1px 1px 1px #000000;
	padding: 10px 10px;
	color: #fff;
}

body {
	padding-top: 50px;
}

.intro {
	background:url("../img/portland-1900.jpg") !important;
	background-position: center bottom !important;
	background-repeat: no-repeat !important;
  	background-size: cover !important;
  	height: 80% !important;
  	
	}
h2.port-title {
	text-align: center;
}
.row {
	padding-top: 50px;
}

.fresh {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

footer {
	text-align: center;
	padding-top: 50px;
	display: inline-block;
	-webkit-display: inline-block;
}


/*

body { 
	background: #282828 !important; 
}



* a,
a::before,
a::after {
	text-decoration: none;
	color:black;
}
.name {
	float:left;
	
	font-size:40px;
	margin: 10px 30px 0px 30px;
}

nav ul {
	float:right;
}

nav ul > li {
	display:inline-block;
	padding-right: 20px;
	font-size: 18px;
	font-family: 'Source Serif Pro', serif;
	margin-right: 30px;
} 

	
  height: 720px;
  width:100%;

}
.intro h2 {
	font-family: 'Source Serif Pro', serif;
	font-size:50px;
  color: #fff; 
  text-shadow: .5px .5px .5px #fff;
  padding-top:300px;
  text-align: center;
  width: 45%;
  margin-right:auto;
  margin-left: auto;
  background: none;
}

.about {
	height: 500px;
	width: 100%;
	margin:0;
}
.about img {
	float:left;
	margin: 0px 20px 0px 20px;
}
.about h2 {
	font-family: 'Gochi Hand', cursive;
	font-size: 40px;
	text-align: center;
	margin-top:100px;
}
.about p {
text-align: left;
margin: 0px 20px 0px 20px;
font-family: 'Cinzel', serif;
font-size: 25px;
}

.portfolio .port-title h2 {
	text-align: center;
	font-family: 'Gochi Hand', cursive;
}
.port-title {
	text-align: center;
	font-family: 'Gochi Hand', cursive;
	font-size:35px;
	
}

.times img,
.fresh img,
.codepen img,
.karma img {
	text-align: center;
	height: 200px;
	width:20%;
	border: 1px solid black;
	margin: 30px 30px;
	float: left;
	display: inline;
	padding:2px;
}
.times #text {
	position:relative;
	visibility: hidden;
}
.times:hover .text {
	visibility: visible;
}

.content-footer {
	margin-top: 30px;
	text-align: center;
	font-size: 35px;
	font-family: 'Gochi Hand', cursive;
}
.social li {
	display: inline-block;
	font-family: 'Source Serif Pro', serif;
	font-size:20px;
	padding-right:30px;
}
.source {
	font-size: 20px;
}
*/